/* general */
.title {
  text-transform: capitalize;
}
.feedbox {
  padding: 16px;
}

/* station + train */
.station-list .capstone {
  background: gray;
  padding: 12px 18px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}


.station-list .desc {
  display: inline-block;
  text-transform: capitalize;
  max-width: 60%;
  position: relative;
  top: 3px;
}
.station-list .time-left {
  float: right;
  font-size: 1.3em;
  line-height: 40px;
}
.station-list h2.alone {
  line-height: 40px;
}

/* dashboard */
.locate-wait {
  font-weight: bold;
  font-size: 1.2em;
}
.connectivity {
  background-color: #fcf8e3;
}
.dash-list .item-complex .item-content {
  /* NOTE: overriding ionic default for space reasons */
  padding-right: 16px;
}
.direction {
  text-transform: uppercase;
}
.station-name {
  text-transform: capitalize;
  line-height: 25px;
}

.timebox {
  background: black;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align: center;
  margin-left: 5px;
  font-weight: bold;
  overflow: hidden;
}

.time {
  display: inline-block;
  padding-left: 5px;
  padding-right: 7px;
  background-color: white;
  display: inline-block;
}

.ion-archive.rot {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.direction {
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

/* COLORS DUKE, THE COLORS */

/* station */
.gold-line .capstone { 
  background-color: #ffa700;
}
.red-line .capstone { 
  background-color: #ff5100;
}
.green-line .capstone {
  background-color: green;
}
.blue-line .capstone {
  background-color: #30a7fa;
}
.scheduled .capstone {
  border-color: gray;
  border-width: 2px;
  border-style: dashed;
}


/* dashboard */
.gold-line .time {
  color: #ffa700;
}
.gold-line.timebox { 
  border-color: #ffa700;
  background-color: #ffa700;
}
.red-line .time {
 color: #ff5100;
}
.red-line.timebox { 
  border-color: #ff5100;
  background-color: #ff5100;
}
.green-line .time {
  color: green;
}
.green-line.timebox { 
  border-color: green;
  background-color: green;
}
.blue-line .time {
  color: #30a7fa;
}
.blue-line.timebox {
  background-color: #30a7fa;
  border-color: #30a7fa;
}

.times .timebox.scheduled .time {
  color: #888;
}

/* browser view */
@media (min-width: 700px) {
  body {
    background: white;
  }
  .platform-browser .view-container {
    background: white !important;
  }
  .platform-browser .pane {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
  }
  .platform-browser .bar, .platform-browser .pane {
    width: 700px;
    margin: 0 auto;
  }
  .platform-browser .nav-bar-block[nav-bar=leaving], 
    .platform-browser .pane[nav-view=leaving] {
    visibility: hidden;
    overflow: hidden;
  }
}
