/* general */
.title {
  text-transform: capitalize;
}

/* station + train */
.station-list .capstone {
  background: gray;
  padding: 12px 18px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}
.station-list .desc {
  display: inline-block;
  text-transform: capitalize;
}
.station-list .time-left {
  float: right;
  font-size: 1.3em;
  line-height: 40px;
}
.station-list h2.alone {
  line-height: 40px;
}

/* dashboard */
.dash-list .item {
  padding-bottom: 12px;
}
.direction {
  text-transform: uppercase;
}
.station-name {
  text-transform: capitalize;
  line-height: 25px;
}

.timebox {
  background: black;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align: center;
  margin-left: 5px;
  font-weight: bold;
  overflow: hidden;
}

.time {
  display: inline-block;
  padding-left: 5px;
  padding-right: 7px;
  background-color: white;
  display: inline-block;
}

.ion-archive.rot {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.direction {
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

/* COLORS DUKE, THE COLORS */

/* station */
.gold-line.capstone { 
  background-color: #ffa700;
}
.red-line.capstone { 
  background-color: #ff5100;
}
.green-line.capstone {
  background-color: green;
}
.blue-line.capstone {
  background-color: #30a7fa;
}


/* dashboard */
.gold-line .time {
  color: #ffa700;
}
.gold-line.timebox { 
  border-color: #ffa700;
  background-color: #ffa700;
}
.red-line .time {
 color: #ff5100;
}
.red-line.timebox { 
  border-color: #ff5100;
  background-color: #ff5100;
}
.green-line .time {
  color: green;
}
.green-line.timebox { 
  border-color: green;
  background-color: green;
}
.blue-line .time {
  color: #30a7fa;
}
.blue-line.timebox {
  background-color: #30a7fa;
  border-color: #30a7fa;
}
